.blog-post {
	margin: 100px auto;
	align-items: center;
	width: 80%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

body {
	padding-bottom: 100px;
}
.blog-container {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	border-radius: 10%;
	width: 300px;
	height: 220px;
	margin: 15px;
}

.blog-image {
	margin-top: 10px;
	margin-left: 50px;
	margin-bottom: -10px;

	border-radius: 10%;
	width: 70%;
	height: 80%;
}

.blog-header {
	margin-top: 25px;
	text-align: center;
}

.blog-link {
	color: black;
}

@media (max-width: 530px) {
	.blog-post {
		margin-left: 50px;
	}
	.blog-container {
		height: 240px;
	}
	.blog-container img {
		margin-top: 22px;
		margin-left: 45px;
	}
}
